- var ajax = true
- var page = true
doctype html
//- include ../_partials/banner.pug

html(lang='en')
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      //- link(rel='stylesheet' href='/dist/bundle.css')
      link(rel='stylesheet' href='https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Dsso | #{title}
    //- include ../_partials/head.pug
    block styles
  body.c-app.flex-row.align-items-center
    block view
    script(src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js")
    script(src='/dist/bundle.js')
    //- include ../_partials/scripts.pug
