extends /_layout/pages

block view
  .container
    .row.justify-content-center
      .col-md-6
        .card.mx-4
          div.body.bg-white(style="border-radius:5px; padding:30px;")
            div(style="margin:auto; height:80px; padding-top:20px;")
              h2.text-center Account successfully validated.
            div.text-center.form-group
              p An email has been sent to user about validation.