header.c-header.c-header-light.c-header-fixed.c-header-with-subheader
  ul.c-header-nav.d-md-down
    li.c-header-nav-item.px-3
      a.c-header-nav-link(href="/" style='font-size:larger; margin-right:10px;margin-left:10px; font-weight:700;') D-SSO
  ul.c-header-nav.d-md-down
  ul.c-header-nav.ml-auto.mr-4
    if user
      li.c-header-nav-item.c-d-legacy-none
        a.c-header-nav-link(style="padding:8px;" href="profile" data-toggle="tooltip" data-placement="bottom" title="Profile")
          i.cil-user
    if user
      a.c-header-nav-link.nav__el--logout(href="#") Log out
      li.c-header-nav-item.px-3
        a.c-header-nav-link
          span= user.name.split(' ')[0]
    else
      a.c-header-nav-link.nav__el--login(href='/login') Log in
  .c-subheader.px-3
    include ./../_partials/breadcrumb.pug