// CoreUI and necessary plugins
script(src='vendors/@coreui/coreui/js/coreui.bundle.min.js')
// main js file
script(src='/dist/bundle.js')
<!--[if IE]><!-->
script(src='vendors/@coreui/icons/js/svgxuse.min.js')
<!--<![endif]-->

block scripts

