NODE_ENV=development
PORT=3000
BASE_URL=https://localhost:3000
DATABASE=mongodb://localhost:27017/dsso
DATABASE_PASSWORD=On0adDgBCE5ECWh6
SALT=on0ad4gddad3
PEPPER=a5tvzpchrn908dd

JWT_SECRET=my-ultra-secure-and-ultra-long-secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

# UI Configuration:
COMPANY_NAME="Test Server"

# Email:
EMAIL_FROM=test@mail.com
EMAIL_USERNAME=apikey
EMAIL_PASSWORD=password
EMAIL_HOST=smtp.sendgrid.net
EMAIL_PORT=465
EMAIL_ADMIN=test@mail.com

# LDAP:
LDAP_SERVER= 'LDAP_SERVER'
DN_STRING= 'DN_STRING'
BIND_USER= 'LDAP_user'
BIND_PASS= 'LDAP_pass'

# GOOGLE LOGIN:
GOOGLE_CLIENT_ID = 'GOOGLE_CLIENT_ID'
GOOGLE_CLIENT_SECRET = 'GOOGLE_CLIENT_SECRET'
GOOGLE_CALLBACK_URL = 'https://localhost:3000/auth/google/callback'

# Certificates: (relative path to parent directory)
CERTS_PRIVATE_KEY=certs/privatekey.pem
CERTS_CERTIFICATE=certs/certificate.pem

# Session Configuration:
SESSION_SECRET=A-Secret-That-Should-Be-Changed 
SESSION_MAXAGE=31449600000

# The time in seconds to check the database for expired tokens. Default is 60 minutes
TIME_TO_CHECK_EXPIRED_TOKENS=3600
#time in seconds, default is 60 minutes
ACCESS_TOKEN_EXPIRES_IN=36000000
#time in seconds, default is 5 minutes
CODE_TOKEN_EXPIRES_IN=300
#time in minutes, default is 100 years
REFRESH_TOKEN_EXPIRES_IN=52560000 


